<!-- templates/custom.tmpl$ -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Title: {{.title}}</p>
    <p>hello: {{.name}}</p>
<!--  直接使用funcMap中的Date()函数  -->
<!--<p>{{Date}}</p>-->
</body>
</html>
